In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['London', 'New York', 'Paris', 'Paris', 'Sydney'],
    'Salary': [60000, 75000, 80000, 70000, 65000]
}

series_from_lists=pd.Series(data)
df=pd.DataFrame(data)